/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .menu_head {
        margin-left: -290px;
    }

    .menu {
        margin-left: 0px;
    }

    .main_content {
        margin-left: 0px;
    }

    #about .about_box::after {
        top: -10px;
        left: 50%;
        transform: translate(-50%);
        transform: rotate(225deg);
    }

    .about_text {
        margin-bottom: 2rem;
    }

    #about .state .state_item {
        margin-bottom: 2rem;
    }

    #about .state .item_1 {
        text-align: center;
    }

    #about .state .item_2 {
        text-align: center;
    }

    #about .state .item_3 {
        text-align: center;
    }

    #about .state .item_4 {
        text-align: center;
    }

    #services .service_box {
        margin-bottom: 20px;
    }

    #experience .experience_body {
        margin-bottom: 20px;
    }

    #pricing .pricing_item {
        margin-bottom: 30px;
    }

    #testimonial .testimonial_item .review_box{
        padding: 20px;
    }

    #blog .blog_content {
        margin-bottom: 30px;
    }

    #contact .contact_info {
        margin-bottom: 40px;
    }

    .form_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form_content input {
        width: 280px;
    }

    .form_content button {
        margin-top: 15px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .menu_head {
        margin-left: -290px;
    }

    .menu {
        margin-left: 0px;
    }

    .main_content {
        margin-left: 0px;
    }

    #about .about_box::after {
        top: -10px;
        left: 50%;
        transform: translate(-50%);
        transform: rotate(225deg);
    }

    .about_text {
        margin-bottom: 2rem;
    }

    #about .state .state_item {
        margin-bottom: 2rem;
    }

    #about .state .item_1 {
        text-align: center;
    }

    #about .state .item_2 {
        text-align: center;
    }

    #about .state .item_3 {
        text-align: center;
    }

    #about .state .item_4 {
        text-align: center;
    }

    #services .service_box {
        margin-bottom: 20px;
    }

    #experience .experience_body {
        margin-bottom: 20px;
    }

    #pricing .pricing_item {
        margin-bottom: 30px;
    }

    #testimonial .testimonial_item .review_box{
        padding: 30px;
    }

    #blog .blog_content {
        margin-bottom: 30px;
    }

    #contact .contact_info {
        margin-bottom: 40px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .menu_head {
        margin-left: -290px;
    }

    .menu {
        margin-left: 0px;
    }

    .main_content {
        margin-left: 0px;
    }

    #about .about_box::after {
        top: -10px;
        left: 50%;
        transform: translate(-50%);
        transform: rotate(225deg);
    }

    #about .state .state_item {
        margin-bottom: 2rem;
    }

    #about .state .item_1 {
        text-align: center;
    }

    #about .state .item_2 {
        text-align: center;
    }

    #about .state .item_3 {
        text-align: center;
    }

    #about .state .item_4 {
        text-align: center;
    }

    #services .service_box {
        width: 100%;
        margin-bottom: 2rem;
    }

    #experience .experience_body {
        width: 100%;
        margin: 0 auto;
    }

    #testimonial .testimonial_item .review_box{
        padding: 30px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .menu_head {
        margin-left: 0;
    }

    #mobile_btn {
        display: none;
    }

    .main_content {
        margin-left: 290px;
    }

    #baner .navbar-brand img {
        display: none;
    }

    #about .about_box::after {
        top: 45px;
        left: -9px;
        transform: rotate(135deg);
    }

    #about .state .item_1 {
        text-align: center;
    }

    #about .state .item_2 {
        text-align: center;
    }

    #about .state .item_3 {
        text-align: center;
    }

    #about .state .item_4 {
        text-align: center;
    }

    #about .state .state_item {
        margin-bottom: 0rem;
    }

    #services .service_box {
        width: 100%;
    }

    .display {
        display: none;
    }

    #experience .experience_body {
        width: 100%;
    }

    #testimonial .testimonial_item .review_box{
        padding: 40px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1080px;
    }

    .menu_head {
        margin-left: 0;
    }

    #mobile_btn {
        display: none;
    }

    .main_content {
        margin-left: 290px;
    }

    #baner .navbar-brand img {
        display: none;
    }

    #services .service_box {
        width: 100%;
    }

    .display {
        display: none;
    }

    #experience .experience_body {
        width: 100%;
    }

    #testimonial .testimonial_item .review_box{
        padding: 40px;
    }

}